.hidden {
    display: none;
}

.error {
    background: #ffd8d8;
    background-image: url(../../img/Warning.svg);
    background-size: 4%;
    background-position-x: 3%;
    background-position-y: 48%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0 -1rem;
    padding: 2% 10%;
    font-size: 80%;
}

.cardDislikedOrResponed {
    opacity: 0.5;
}

.card, .cardDislikedOrResponed {
    width: 52%;
    margin: auto;
    margin-top: 3rem;
    border: none;
    border-radius: 15px;
    background-image: url("../../img/img-in-card.png");
    background-repeat: no-repeat;
    background-size: 110%;
    padding: 0rem 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
}

@media screen and (max-width: 1024px) {
    .card, .cardDislikedOrResponed {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .card, .cardDislikedOrResponed {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .card, .cardDislikedOrResponed {
        width: 80%;
    }
}