.benefits {
    display: flex;
    flex-wrap: wrap;
}

.benefits p:not(:first-child) {
    margin-left: 1rem;
}

.benefits p {
    flex: 0 0 auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.55rem;
}

@media screen and (max-width: 768px) {
    .benefits {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .benefits p:not(:first-child) {
        margin-left: 1rem;
    }
    .benefits p {
        flex: 0 0 auto;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 0.55rem;
    }
}